<div id="company">
<br>
<h4>Bike Price Commitment</h4>

<h5>Is to provide the best value possible for our customers at all times</h5>
<br>
<p>
Our regular pricing in store will always reflect the Canadian manufacturer's or supplier's suggested retail price, however, if a customer can find a product we sell at a better price, our price guarantee is as follows:

We will match or better any quoted price from Canada
We will endeavour to match or better any International quoted price (including exchange, shipping, duty/brokerage and applicable
taxes).
</p><br>
</div>
