<div id="address">
<br>
<h4> Contact </h4>
<br>

<h5> Adress:</h5>
<p> we are located at 220 King st. West Suite 200 Toronto</p>

<h5> Email: </h5>
<p> wheels@bikes.com <p>

<h5> Phone: <h5>
<p> 416 555-1234 <p>
<br>
</div>