<h1><%= @recipient.first_name %>, you are receiving this message because you posted an ad with examplebike.com</h1>

<h4>message for you </h4>
<%= @poster.message %>

<h5> Thank you for using examplebike.com </h5>

Click this link to view your profile:

<%= user_url(@recipient) %>