<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="reply-thread">
  <div class="field">
   <h4> <%= f.label :comment, "Reply to thread" %></h4><br>
    <%= f.text_area :comment %>
  </div> <br>
  <div class="submission">
    <%= f.submit %><br>
    </div>
<% end %><br>
</div>