<h1>WELCOME TO THE SPOKE CALCULATOR</h1>

<div id="links">
	<p><%= link_to "Add a new build", "/builds/new" %></p>
	<p><%= link_to "Calculate some Spokes!", "/calc" %></p>
</div>

<div id="spacer">
	<p>----------------BUILDS----------------</p>
</div>

<div id="builds">
	<%= render @builds %>
</div>





