<h3><%= current_user.first_name %>'s Profile </h3>

<%= image_tag current_user.profile_image_url(:thumb) %><br>

<h1>THINGS TO ADD </h1>
list his photos and his purchases: what is it 
that he sold, price and who purchased???? 