<h1>most recent photos posted by users </h1>

	<% Photo.recent(10).each do |photo|%>
	  <div id="photorecent">
		  <%=link_to image_tag(photo.avatar_url(:large)), "/photos/#{photo.id}" %>
    </div>
	<% end %>