<div class="nested-fields">
  <% if f.object.picture.present? %>
    <%= image_tag(f.object.picture_url, size: '150x150') %>
  <% else %>
   <%= f.label :picture, "Add additional images for this classified (optional)" %><br>
   <%= f.file_field :picture, :multiple => true, name: "classified_attachments[picture][]" %>
  <% end %>
  <%= link_to_remove_association "remove picture", f %>
</div>