
  <div class="bike-title">
  	<%= link_to classified.title, classified_path(classified)%><br>
  	<%= link_to number_to_currency(classified.amount), classified_path(classified) %>
  </div>
  <br>
  <%= link_to image_tag(classified.image_url(:medium)), classified_path(classified) %><br><hr>

