<h3><%= link_to "Create your ad", new_classified_path %></h3>

<% @classified.each do |classified| %>
 
  <%= link_to image_tag(classified.picture_url(:medium)), classified_path(classified) %>
  
  <strong>Price:</strong> $<%= classified.amount %>.00<br>
  <strong>Description:</strong> <%= classified.description %>
<% end %> 