<div id="photo-color">
<h4><%= @photo.name %></h4>
<%= image_tag @photo.avatar_url(:large) %>
<br>

<h6> Posted by: <strong><%= @photo.user.first_name %></strong></h6>

<div class="photo-description">
<%= @photo.description %>
</div>
</div>