<ul class="inline">
  <li><%= link_to 'All', photos_path, class: 'btn btn-secondary'  %></li>
  <% PhotoCategory.all.each do |category| %>
    <li>
      <%= link_to category.name, photos_path(photo_category_id: category.id), class: 'btn btn-secondary' %>
    </li>
  <% end %>
</ul>

<div class="gallery">
<h1>Gallery </h1>
</div>


<% if can? :create, Photo %>
	<h3> <%= link_to "Upload to the gallery!", new_photo_path, id: 'gallery-upload' %><br></h3>
<% end %>
<br>

	<div id="photos">
	<% @photo.each do |photo| %>
	  <%= link_to image_tag(photo.avatar_url(:medium)), photo_path(photo) %><br><br>
	  <% end %>
	</div>
