<h1> index for photos </h1>

<h3> <%= link_to "Add your memorable photo to our gallery!", new_photo_path %><br>

<% @photo.each do |photo| %>
  <%= link_to image_tag(photo.avatar_url(:medium)), photo_path(photo) %>
  <% end %>

