<!-- if current_user
end
 -->  
 
<div id="photo_info">
  <%= render @photo %>
</div>

<%= link_to "Edit this Memory", edit_photo_path %> | <%= link_to "Delete this Memory", @photo, data: {confirm: "Are you sure you want to delete this project?"}, :method => :delete %>


