// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "**/*";

$light-grey: #adadad;
$light-grey: lighten($light-grey, 10%);
$dark-grey: #939393;
$darkest-grey: darken($dark-grey, 20%);
$orange: #F69B32;

$nav-color: white;
$navborder: black;

body{
	background: $light-grey;
}


// .img-container img {
//     position: relative;
//     top: 0px;
//     transition: transform .2s ease-in-out;
// }

.logo {
	display: block;
	position: relative;
	height: 90px;
	background: rgb(169, 179, 186);
	margin-bottom: 1em;
}
  

.wheel {
	width: 100px;
	height: 100px;

	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;

	-webkit-transform: rotateZ(0);
	-moz-transform: rotateZ(0);
	-o-transform: rotateZ(0);
	transform: rotateZ(0);

	.img-container.is-rolling & {
	  -webkit-transform: rotateZ(7200deg);
	  -moz-transform: rotateZ(7200deg);
	  -o-transform: rotateZ(7200deg);
	  transform: rotateZ(7200deg);
	}
}

.img-container {
	display: block;
	text-align: left;

	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;

	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

	&.is-rolling {
	  -webkit-transform: translateX(100%);
	  -moz-transform: translateX(100%);
	  -o-transform: translateX(100%);
	  transform: translateX(100%);
	}
}

.title {
	line-height: 0;
	float: left;
	font-size: 40px;
	position: absolute;
	left: 100px;
	bottom: 0;
	font-family: 'Orbitron', sans-serif;
}

.navbar-inverse {
	clear: both;
	background: $navborder;
	color: $nav-color;
	border-bottom: 1px solid $navborder;
	font-size: 12pt;
	padding-left: 19px;
	text-align: left;



	a {
		text-decoration: underline;
		color: $nav-color;
	}

	a:hover {
		color: $orange !important;
	}
}

.inline {
	li {
		display: inline;
		margin: 0;
		padding: 0;
	}

	a {
		padding: 0.5em 1.5em;
		margin-right: 0.5em;
		border-radius: 0.5em;
		background-color: $orange;
		border: darken($orange, 50%);
		color: $nav-color;
	}
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
	color: black;
}


html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -5em; 
}

.page-wrap:after {
  content: "";
  display: block;
}

// .site-footer, .page-wrap:after {
//   height: 5em; 
// }

.site-footer {
  background: #939393;
	h1 { font-size: 10pt; }
	.details { font-size: 8pt; }
  // background-image: image-url("metal.jpeg");
  // background-repeat: repeat;
}

.profile {
	border: 3px solid black;
	border-radius: 10px;
}

#classifieds {
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#home-specs {
	width: 1000px;
	background-color: #DCDCDC;
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  // margin-right: auto;
	// border: 3px solid black;

}

#photorecent {
	width: 1000px;
	background-color: #DCDCDC;
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
	border: 3px solid black;

}

#photo-specs {
	border: 3px solid black;
	border-radius: 10px;
}

#sign-up {
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#gallery {
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	margin-left: auto;
  margin-right: auto;
}

#login {
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	margin-left: auto;
  margin-right: auto;
}

#new-ad {
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	margin-left: auto;
  margin-right: auto;
}

.comments {
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	margin-left: auto;
  margin-right: auto;
}

// file upload fix
.align {
	text-align: left;
	width: 50%;
	display: block;
	// box-sizing: border-box;
	// border: red solid 1px;
	margin: 0 auto;
	
	label {
		margin: 10px 0 0px 0;
	}

	.actions {
		margin: 20px 0;
	}

	#remember {
		float: left;
	}

	.change {
		display: inline;
		margin-left: auto;
		margin-right: auto;
	}

}
