// Place all the styles related to the builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family:'Helvetica Neue',sans-serif;
}

.specs {
	background-color: #DCDCDC;
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
	width: 400px;
	display: none;
	border: 3px solid black;

}

#links {
	background-color: #DCDCDC;
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
	width: 400px;
	display: none;
	border: 3px solid black;
	a{
		box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
  	color: #337ab7;
  	background-color: #DCDCDC;
  	border-radius: 5px;
  	border: 2px solid black;
  	font-size: 16px;
  	font-weight: 700;
  	height: 32px;
  	padding: 4px 16px;
  	width: auto;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
	}

}

.button {
	box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
	color: #333;
	background-color: #DCDCDC;
	border-radius: 5px;
	border: 2px solid black;
	font-size: 16px;
	font-weight: 700;
	height: 32px;
	padding: 4px 16px;
	width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#delete-edit {
		a{
			color: #397CAC;
			border: 1px solid #397CAC;
			padding: 0.3em 0.8em;
			border-radius: 0.2em;
			text-decoration: none;
		}
}

#search-bar {
	width: 300px;
  margin-botton: 5px;
	border-radius: 10px;
	margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
  padding: 2px 2px 2px 2px;
  border: 1px solid black;
}


.builds {
	h1{
		color: #F69B32;
	}
}