#posts {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  .post {
      margin: 1em 0;
      padding: 1em 0;
      border-top: 1px solid #D1d1d1;
      // border-bottom: 1px solid #D1d1d1;
      .titl {
        margin: 0;
      a{
        color: #397CAC;
        text-decoration: none;
        font-weight: 200;
        font-size: 2rem;
      }
  }
    .date {
        margin-top: .25rem;
        font-size: 1.4rem;
        color: #B2BAC2;
    }
  }
}

.buttonagain{
  box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
  color: #333;
  background-color: #DCDCDC;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  padding: 4px 16px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: 0.5;
  a{
    color: #397CAC;
    border: 1px solid #397CAC;
    padding: 0.3em 0.8em;
    border-radius: 0.2em;
    text-decoration: none;
  }
  h1 {
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
  }
  .commentsagain {
    border-top: 1px solid #D1d1d1;
    p{
      margin-top: .25rem;
      font-size: 1.4rem;
      color: #B2BAC2;
    }
    .comment-buttons{
      a{
      color: #397CAC;
      border: 1px solid #397CAC;
      padding: 0.3em 0.8em;
      border-radius: 0.2em;
      text-decoration: none;
      }
    } 
  }
}



